/* nav */
.nav {
  text-align: center;
  font-size: 14px;
  padding-top: 40px;
}

.nav a {
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  color: #333;
}

.nav a:after {
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  background-color: #225384;
  transition: width 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.nav a:hover:after,
.nav a:focus:after {
  width: 100%;
}

.nav a:hover {
  color: #225384;
}

.nav__link {
  padding: 10px;
}
